:root {
	--scrollPosition:0;
	--primary: #EFB352;
	--primary-mid: #EDC55A;
	--primary-dark: #B87D4B;
	--secondary: #0EB1D2;
	--secondary-mid: #296C85;
	--secondary-dark: #2B4141;
	--secondary-dark-sat: #1A5D5D;
	--secondary-dark-desat: #3c4b4b;
	--default-black: #262626;
	--default-white: #FFF;
	--visited-links: #C18DFF;

	--main-margins: 12%;
	--main-fixed: fixed;
	--main-bg-display: block;
	--main-padding: 30px;

	--font-size: 12pt;
}

* {
	box-sizing: border-box;
}

body * {
	animation-iteration-count: 1;
	animation-play-state: paused;
	animation-fill-mode: both;
	animation-delay: calc(var(--scrollRelative) * -1s);
	animation-duration: 1s;
	animation-timing-function: linear;
}

body *:not(h1,h2,h3,h4) {
	font-size: var(--font-size);
}

body {
	overflow-x: hidden;
}

@font-face {
	font-family: Lexend;
	src: url("/static/Lexend/static/Lexend-Regular.ttf");
}

@font-face {
	font-family: Lexend;
	font-weight: bold;
	src: url("/static/Lexend/static/Lexend-Bold.ttf");
}

html, body {
    margin: 0;
    height: 100%;

	font-family: Lexend;
}

body {
	background-color: var(--secondary-mid);
}

main {
	height: 100%;
}

article {
	border-radius: 15px;
	filter: drop-shadow(20px 30px #2B414155);
}

article, footer {
	padding: var(--main-padding);
	box-sizing: border-box; /* somehow magically fixes everything */
	background-color: var(--secondary-dark);
	color: white;
}

main > article {
	grid-area: main;

	position: absolute;
	transform: translate(50%,-50%);

	animation-name: article-scrolldown;
	pointer-events: all;
}


@keyframes article-scrolldown {
	0% {
		width: calc(100% - 2 * var(--main-margins));
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		border-radius: 15px;
		max-height: 1000px;
	}

	50% {
		content: "hi";
	}

	100% {
		width: calc(100% - 100px);
		top: 0%;
		left: 0%;
		transform: translate(0%,0%);
		border-radius: 0px;
		max-height: 100px;
		filter: drop-shadow(0px 0px 0 #295E6F) drop-shadow(0px 0px 0 #295E6F) drop-shadow(0px 0px 0 #295E6F) drop-shadow(0px 0px 0 #295E6F) drop-shadow(0px 0px 0 #295E6F) drop-shadow(0px 0px 0 #295E6F) drop-shadow(0px 0px 0 #295E6F) drop-shadow(0px 0px 0 #295E6F) drop-shadow(0px 0px 0 #295E6F);
	}
}

.mid-filler {
	background: linear-gradient(#0000 80%, #000000cc);
	background-repeat: no-repeat;
	animation-name: mid-filler-scrolldown;
	display: var(--main-bg-display);
}

@keyframes mid-filler-scrolldown {
	0% {
		background-position-y: 0px;
	}

	50%, to {
		background-position-y: 1000px;
	}
}

iframe#map-loc {
	animation-name: iframe-scrolldown;
}

@keyframes iframe-scrolldown {
	0%, 49% {
		pointer-events: unset;
	}

	50%, to {
		pointer-events: none;
	}
}


img.background-element {
	position: absolute;
	transform: translate(200%,30%) rotate(-40deg);
}

svg.svg-piece {
	position: absolute;
	top: 0;
	transition: transform 0.1s;
}

circle.eye {
	stroke: #262626;
	stroke-width: 3.796;
	paint-order: stroke fill markers;
}

path.head {
	fill: #262626;
}

path.body {
	fill: #262626;
}

main {
	height: 100vh;
	position: var(--main-fixed);
	top: 0;
	left: 0;
	width: 100%;
	transition: width 0.2s;
}

body:has(> #cornerbar:hover) main {
	width: calc(100% - 300px);
}

#main-filler {
	height: 500vh;
}

#cornerbar:hover .cornerbar-icon path {
	d: path("M2,2 L8,2 L8,8 L2,8 L2,2");
	fill: #FFFF;
}

#cornerbar {
	background-color: var(--secondary-dark);
	border-radius: 0 0 0 15px;
	width: 400px;
	height: 400px;
	transition: transform 0.2s;
	transform: translate(300px, -300px);

	animation-name: cornerbar-scrolldown;

	position: fixed;
	top: 0;
	right: 0;
}

@keyframes cornerbar-scrolldown {
	0% {
		border-radius: 0 0 0 15px;
	}

	100% {
		border-radius: 0 0 0 0px;
	}
}

#cornerbar:hover {
	transform: translate(0px, 0px);
	border-radius: 0 0 0 15px !important;
}

#cornerbar .cornerbar-icon path {
	fill: #FFF0;
}

.cornerbar-icon {
	width: 100px;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: rotate(90deg);
}

.cornerbar-icon path {
	fill: none;
	stroke: #FFF;
	stroke-linecap: round;
	stroke-linejoin: round;
	transition: 0.4s;
}

.init-info-grid {
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"text1 map"
		"soc map";
}

@media (width <= 1250px) {
	.init-info-grid {
		grid-template-columns: 1fr;
		grid-template-areas: 
			"text1"
			"map"
			"soc";
	}

	section.map {
		display: none;
		animation-name: none;
	}

	.short-info > div > b, .short-info > div > br {
		display: none
	}

	section.short-info {
		display: grid;
		grid-template-areas:
		"socmed info1"
		"socmed info2";
	}

	#short-where {
		grid-area: info1;
	}

	#short-when {
		grid-area: info2;
	}

	#short-socmed {
		grid-area: socmed;
	}

/* 	#cornerbar */
}

article.shadowmove > h1:after {
	content: "Chess Club Uni Augsburg";
}

@media (width <= 1000px) {
	article.shadowmove > h1:after {
		content: "Chess Club UniA"
	}


}
@media (width <= 850px) {


	.init-info-grid {
		grid-template-columns: 1fr;
		grid-template-areas: 
			"text1"
			"soc";
	}

	section.map {
		display: none;
		animation-name: none;
	}

}


@media (width <= 750px) {
	:root {
		--main-margins: 0%;
	}


	article {
		border-radius: 0px;
		filter: none;
	}
	.after-main > .page {
		width: 100%;
	}

	div.after-main > .page > article {
		margin-left: 0% !important;
	}

	article.shadowmove > h1:after {
		content: "Chess UniA"
	}
	section.map {
		display: none;
		animation-name: none;
	}

}
section.map {
	animation-name: map-scrolldown;
	grid-area: map;
}

@keyframes map-scrolldown {
	0%, 30% {
		display: block;
		opacity: 1;
	}

	50% {
		display: block;
		opacity: 0;
		transform: scaleY(1.);
	}
	51% {
		display: none;
		opacity: 0;
		transform: scaleY(0.) translateY(-1000px);

	}

	60%, to {
		display: none;
		opacity: 0;
	}
}

#text1 {
	grid-area: text1;
}

.desc {
	animation-name: desc-scrolldown;
}

@keyframes desc-scrolldown {
	0%, 40% {
		opacity: 1;
		max-height: 1000px;
	}

	70% {
		opacity: 0;
		max-height: 1000px;
	}

	80% {
		max-height: 0px;
		opacity: 0;
	}

	to {
		max-height: 0px;
		opacity: 0;
		display: none;
	}
}

h2.desc {
	animation-name: h2desc-scrolldown, desc-scrolldown;
}

@keyframes h2desc-scrolldown {
	0%, 40% {
		margin: .5em 0;
	}

	70%, to {
		margin: 0;
	}
}

.init-info {
	animation-name: init-info-scrolldown;
}

@keyframes init-info-scrolldown {
	0%, 40% {
		opacity: 1;
		max-height: 1000px;
		display: block;
	}

	80% {
		opacity: 0;
		max-height: 1000px;
		display: block;
	}

	90% {
		max-height: 0px;
		opacity: 0;
		display: none;
	}

	100% {
		max-height: 0px;
		opacity: 0;
		display: none;
	}
}

.short-info {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
	animation-name: short-info-scrolldown;

	display: flex;
	align-items: center;

	gap: 30px;
}

@keyframes short-info-scrolldown {
	0%, 40% {
		max-height: 0px;
		opacity: 0;
	}

	70% {
		max-height: 0px;
		opacity: 0;
	}

	30% {
		max-height: 1000px;
		opacity: 1;
	}

	to {
		max-height: 1000px;
		opacity: 1;
	}
}

#pieces {
	position: absolute;
	width: 800px;
	height: 800px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#nav-field {
	height: 300px;
	grid-template-columns: 100px 100px 100px;
	display: grid;
}

#nav-field > svg {
	position: static;
	width: 100px;
	place-self: center;
}

svg > .nav-item:hover {
	filter: brightness(1.1);
}

pieces > .main-pieces {
	animation-name: pieces1-scrolldown;
}


@keyframes pieces1-scrolldown {
	0%, 40% {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

#socmed {
	margin-top: auto;
	animation-name: socmed-scrolldown;
	grid-area: soc;
}

#socmed path:nth-child(2) {
	fill: #fff;
}

.shadowmove > h1 {
	animation-name: h1-scrolldown;
}

h1 {
	margin-top: 0px;
	margin-bottom: 12pt;
	font-size: 30pt;
}

@keyframes h1-scrolldown {
	0%, 80% {
		display: block;
		letter-spacing: 0;
	}

	to {
		letter-spacing: -1.1pt;
		display: inline-block;
	}
}

@keyframes socmed-scrolldown {
	0%, 20% {
		display: block;
		opacity: 1;
	}

	81%, to {
		display: none;
		opacity: 0;
	}
}


.mid-filler {
	height: 100vh;
	width: 100vw;
	position: var(--main-fixed);
}

.after-main {
	position: absolute;
	top: 200vh;
	width: 100%;
}

.after-main > .page >  article {
	width: 100%;
	margin-left: 6%;
}

.page {
	position: relative;
	min-height: 40vh;
	width: 80%;
}

.email {
	line-height: 48px;
	vertical-align:middle;
}



/* body:has( main > article:hover ) > #bgmain { */
/* 	backdrop-filter: blur(5px); */
/* 	filter: blur(5px); */
/* } */


a:visited {
	color: var(--visited-links);
}

footer > img {
	width: 200px;
}

#asta-logo {
	filter: invert(1);
}

footer {
	position: relative;
}

a > svg {
	padding: 5px;
	transition: background-color 0.3s, border-radius 0.3s;
	border-radius: 0px;
}

a:hover > svg {
	background-color: #0003;
	border-radius: 10px;
}

#main {
	pointer-events: none;
}

/* #nav-field { */
/* 	pointer-events: none; */
/* } */

.allow-banner:not(.active) {
	display: inline-block;
	padding: 20px;
	min-height: 100px;
	background-color: #0003;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.arrow-indicator {
	animation: 1.5s ease-in 0s infinite running repeat-up-down, 1s linear calc(var(--scrollRelative) * -1s) 1 both paused fade-arrow;
}

@keyframes repeat-up-down {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0px);
	}
}

@keyframes fade-arrow {
	0% {
		opacity: 100%;
	}

	100% {
		opacity: 0%;
	}
}

#foreground-canvas, #background-canvas {
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
}

#integrations {
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
}

.sliding {
	display: flex;

	overflow-x: auto;
	scroll-snap-type: x mandatory;

	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;

	height: 500px;
	gap: 10px;
}

.sliding::-webkit-scrollbar-track {
	background: transparent;
}

.sliding > section {
	scroll-snap-align: start;
	flex-shrink: 0;
	max-height: 500px;
	border-radius: 10px;
	transition: transform 0.5s;
	position: relative;
	max-width: 80vw;
	overflow-x: hidden;

	/* justify-content: center; */
	/* align-items: center; */
}

.slide-card {
	padding: 30px;
	margin: 10px;
	border-radius: 10px;
	background-color: #fff3
}

.language-selection {
	color: white;
}

.language-selection > li {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: space-between;
	gap: 20px;
	padding: 5px;
	border-radius: 5px;
}

.language-selection > li.selected {
	background-color: #fff3;
}
